@using MyApp.RazorComponents;
<h4>Edit Product</h4>
<Breadcrumbs Links=@(new []{
             new Breadcrumbs.Link("List products", new HtmxAttributes("/products/list", "#main", "innerHTML")),
             new Breadcrumbs.Link("Edit product")})>
    <MenuItems>
        <MenuItem Text="Enable"
                  IsDisabled=@(Product.IsEnabled)
                  HtmxAttributes=@(new HtmxAttributes($"/products/{Product.ProductId}/enable", "#main", "innerHTML"){Confirm="Are you sure?"}) />
        <MenuItem Text="Disable"
                  IsDisabled=@(!Product.IsEnabled)
                  Confirm="Are you sure?"
                  HtmxAttributes=@(new HtmxAttributes($"/products/{Product.ProductId}/disable", "#main", "innerHTML")) />
    </MenuItems>
</Breadcrumbs>
<nav class="navbar hstack gap-3 justify-content-end">
    <StatusBadge IsEnabled=@Product.IsEnabled />
</nav>
<Section>
    <Content>
        <Form HtmxAttributes=@(new HtmxAttributes($"/products/{Product.ProductId}/edit","#main", "innerHTML"))>
            <Content>
                <div class="row mb-4">
                    <div class="col-4">
                        <TextInput Property="Name"
                                   Label="Name"
                                   placeholder="Enter name"
                                   maxlength=100
                                   value=@Product.Name
                                   disabled
                                   readonly />
                    </div>
                    <div class="col-4">
                        <NumericInput Property="Price"
                                      Label="Price"
                                      Prefix="$"
                                      step="0.01"
                                      min="0.01"
                                      value=@Product.Price
                                      required />
                    </div>
                    <div class="col-4">
                        <SelectInput Property="Unit"
                                     Label="Unit"
                                     required
                                     Value=@Product.Unit.ToString()
                                     Source=@(new Dictionary<string, string>(){{"UN","Unit"},{"KG","Kilogram"}}) />
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <TextAreaInput Property="Description"
                                       Label="Description"
                                       rows="5"
                                       value=@Product.Description
                                       placeholder="Enter description"
                                       maxlength=500 />
                    </div>
                </div>
            </Content>
        </Form>
    </Content>
</Section>
@code {
    [Parameter, EditorRequired]
    public Product Product { get; set; } = default!;
}
